{% extends 'base.html' %}





{% block content %}



<div class="container">

	<div class="d-flex flex-column">
		<div class="col l12" style="color: blue; text-align: center; font-size: large;" >
			<br>
			We've emailed you instructions for setting your password, if an account exists with the email you entered.
			<br>
			You should receive them shortly.
			<br>
			If you don't receive an email, please make sure you've entered the address you registered with,
			and check your spam folder.
			<br>
			Your password has been reset. You may go ahead and <a href="{% url 'signin' %}">sign in now</a>
			<br>
			<h5  style="color: blue; text-align: center; font-size: large;"> <a href=http://127.0.0.1:8000>Click here to go back to Home</a></h5>

</div>



{% endblock %}